#parse("header.html")
<link rel="stylesheet" href="/styles/detail.css">
<div class="zg-wrap zu-main clearfix with-indention-votebar" itemscope="" itemtype="http://schema.org/Question"
     id="zh-single-question-page" data-urltoken="36301524" role="main">
    <div class="zu-main-content">
        <div class="zu-main-content-inner">
            <!--<meta itemprop="isTopQuestion" content="false">
            <meta itemprop="visitsCount" content="402">
            <div class="zm-tag-editor zg-section">
                <div class="zm-tag-editor-labels zg-clear">
                    <a data-tip="t$b$19550730" class="zm-item-tag" href="/?categoryId=$!{question.categoryId}"
                       target="_blank">$!{question.categoryName}</a>
                </div>
            </div>
            <div id="zh-question-title" data-editable="true" class="zm-editable-status-normal">
                <h2 class="zm-item-title">
                    <span class="zm-editable-content">$!{question.title}</span>
                </h2>
            </div>
            <div id="zh-question-detail" class="zm-item-rich-text zm-editable-status-normal">
                <div class="zm-editable-content">$!{question.content}</div>
            </div>
            <div class="zm-side-section">
                <div class="zm-side-section-inner" id="zh-question-side-header-wrap">
                    #if ($followed)
                    <button class="follow-button zg-follow zg-btn-white js-follow-question" data-id="${question.id}"
                            data-status="1">
                        取消关注
                    </button>
                    #else
                    <button class="follow-button zg-follow zg-btn-green js-follow-question" data-id="${question.id}">
                        关注问题
                    </button>
                    #end
                    <div class="zh-question-followers-sidebar">
                        <div class="zg-gray-normal">
                            <a href="javascript:void(0);"><strong
                                    class="js-user-count">${followUsers.size()}</strong></a>人关注该问题
                        </div>
                        <div class="list zu-small-avatar-list zg-clear js-user-list">
                            #foreach ( $vo in $followUsers )
                            <a class="zm-item-link-avatar js-user-${vo.id}" href="/user/${vo.id}"
                               data-original_title="${vo.name}">
                                <img src="${vo.headUrl}"
                                     class="zm-item-img-avatar"></a>
                            #end
                        </div>
                    </div>
                </div>
            </div>-->
            #if( $commentVo )
            <div id="zh-question-answer-wrap" data-pagesize="10" class="zh-question-answer-wrapper navigable"
                 data-widget="navigable" data-navigable-options="{&quot;items&quot;: &quot;&gt;.zm-item-answer&quot;}"
                 data-init="{&quot;params&quot;: {&quot;url_token&quot;: 36301524, &quot;pagesize&quot;: 10, &quot;offset&quot;: 0}, &quot;nodename&quot;: &quot;QuestionAnswerListV2&quot;}">


                <div class="zm-item-answer  zm-item-expanded js-comment">
                    <!--<link itemprop="url" href="">
                    <meta itemprop="answer-id" content="22162611">
                    <meta itemprop="answer-url-token" content="66862039">
                    <a class="zg-anchor-hidden" name="answer-22162611"></a>-->

                    <!--<div class="zm-votebar goog-scrollfloater js-vote" data-id="$!{vo.answer.id}">
                        #if($vo.liked > 0)
                        <button class="up js-like pressed" title="赞同">
                            #else
                            <button class="up js-like" title="赞同">
                                #end
                                <i class="icon vote-arrow"></i>
                                <span class="count js-voteCount">$!{vo.likeCount}</span>
                                <span class="label sr-only">赞同</span>
                            </button>

                            #if( $vo.liked < 0)
                            <button class="down js-dislike pressed" title="反对，不会显示你的姓名">
                                #else
                                <button class="down js-dislike" title="反对，不会显示你的姓名">
                                    #end
                                    <i class="icon vote-arrow"></i>
                                    <span class="label sr-only">反对，不会显示你的姓名</span>
                                </button>
                    </div>-->
                    <!--<div class="zm-votebar goog-scrollfloater js-vote" data-id="$!{comment.comment.id}">
                        #if($vo.liked > 0)
                        <button class="up js-like pressed" title="赞同"/>
                        #else
                        <button class="up js-like" title="赞同">
                            <i class="icon vote-arrow"></i>
                            <span class="count js-voteCount">$!{comment.likeCount}</span>
                            <span class="label sr-only">赞同</span>
                        </button>
                        #end

                        #if($vo.liked < 0)
                        <button class="down js-dislike pressed" title="反对，不会显示你的姓名"/>
                        #else
                        <button class="down js-dislike" title="反对，不会显示你的姓名">
                            <i class="icon vote-arrow"></i>
                            <span class="label sr-only">反对，不会显示你的姓名</span>
                        </button>
                        #end
                    </div>-->
                    <div class="answer-head">
                        <div class="zm-item-answer-author-info">
                            <a class="zm-item-link-avatar avatar-link" href="/user/${commentVo.user.id}" target="_blank"
                               data-tip="p$t$yingxiaodao">
                                <img src="${commentVo.user.headUrl}" class="zm-list-avatar avatar"></a>
                            <a class="author-link" data-tip="p$t$yingxiaodao" target="_blank"
                               href="">${commentVo.user.name}</a>
                        </div>
                        <!--<div class="zm-item-vote-info">
                                <span class="voters text">
                                    <a href="" class="more text"><span class="js-voteCount">$!{vo.likeCount}</span>&nbsp;人赞同</a>
                                </span>
                        </div>-->
                    </div>
                    <div class="zm-item-rich-text expandable js-collapse-body" data-resourceid="6727688"
                         data-action="/answer/content" data-author-name="营销岛"
                         data-entry-url="/question/36301524/answer/66862039">

                        <div class="zm-editable-content clearfix">
                            $commentVo.comment.content
                        </div>
                    </div>
                    <a class="zg-anchor-hidden ac" name="22162611-comment"></a>
                    <div class="zm-item-meta answer-actions clearfix js-contentActions">
                        <div class="zm-meta-panel">
                            <a itemprop="url" class="answer-data-link meta-item" target="_blank" href="javascript:;">发布于
                                $date.format('yyyy-MM-dd HH:mm:ss', $commentVo.comment.createdDate)</a>
                            <!--<a href="" name="addcomment" class="meta-item toggle-comment js-toggleCommentBox">
                                <i class="z-icon-comment"></i>4 条评论</a>-->

                            <button class="item-collapse js-collapse" style="transition: none;">
                                <i class="z-icon-fold"></i>收起
                            </button>
                        </div>
                    </div>
                </div>

            </div>

            <a name="draft"></a>

            <form action="/addCommentReply" method="post">
                <input type="hidden" name="commentId" value="$!{commentVo.comment.id}"/>
                <div id="zh-question-answer-form-wrap" class="zh-question-answer-form-wrap">
                    <div class="zm-editable-editor-wrap" style="">
                        <div class="zm-editable-editor-outer">
                            <div class="zm-editable-editor-field-wrap">
                                <textarea name="content" id="content" class="zm-editable-editor-field-element editable"
                                          style="width:100%;"></textarea>
                            </div>
                        </div>

                        <div class="zm-command clearfix">
                            <span class=" zg-right">
                                <button type="submit" class="submit-button zg-btn-blue">发表回复</button></span>
                        </div>
                    </div>
                </div>
            </form>

            <section id="comments">
                <h2>回复列表</h2>

                <!--回答下的评论-->
                #foreach( $replyVo in $repliesVo)
                <div class="media">
                    <div class="media-left">
                        <a href="/user/${replyVo.user.id}">
                            <img class="media-object zm-list-avatar avatar" src="${replyVo.user.headUrl}" alt="头像">
                        </a>
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading">${replyVo.user.name}</h5>
                        <div>
                            $replyVo.reply.content
                        </div>
                        <time><a itemprop="url" class="answer-data-link meta-item" target="_blank" href="javascript:;">$date.format('yyyy-MM-dd
                            HH:mm:ss', $replyVo.reply.createdDate)
                        </a></time>

                        <a href="/comment/$replyVo.reply.id" name="addcomment" class="meta-item toggle-comment js-toggleCommentBox">
                            <i class="z-icon-comment"></i>$replyVo.reply.replyCount条回复</a>

                        <!--<div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="zm-list-avatar avatar" src="http://kongk.top/q/img/39.jpg" alt="...">
                                </a>
                            </div>
                            <div class="media-body">
                                <h5 class="media-heading">孔凯凯 <small><time>2019-04-16 19:28:16</time></small></h5>
                                评论的具体内容


                            </div>
                        </div>-->

                    </div>
                </div>
                #end
            </section>
            #else
            <!-- 关掉回答的信息的#if ($vo) -->
            #end
            <br/>
            <br/>
            <br/>
        </div>

    </div>
</div>
#parse("js.html")
<script type="text/javascript" src="/scripts/main/site/detail.js"></script>\

#parse("footer.html")
#end
